@if (!isLoading) {
@if (products.length > 0) {
<section class="my-5">
    <h2 class="main-h2">Your Favorites</h2>
    <div class="container mx-auto">
        <div class="grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 gap-5 max-w-screen-xl mx-auto">
            @for (product of products; track product._id) {
            <app-wishlist-item [product]="product" (productRemoved)="onProductRemoved($event)" />
            }
        </div>
    </div>
</section>
} @else {
<div class="container mb-15 mx-auto my-10">
    <div class="row">
        <div class="col-span-12 text-center">
            <img src="/images/wishList.png" class="mx-auto w-150" alt="man-beside-a-empty-cart">
            <h2 class="font-bold text-2xl mb-2">Your wishlist is currently empty</h2>
            <p class="text-gray-700 mb-0">
                I think the below button is important. Hit this button and you will find a lot of interesting products.
            </p>
            <button routerLink="/products" class="w-md opacity-100 main-btn">Back to Shopping</button>
        </div>
    </div>
</div>
}
} @else {
<h2 class="text-main text-5xl col-span-12 text-center my-6 uppercase font-bold">
    Loading <i class="fa-solid fa-spinner"></i>
</h2>
}