<section class="my-5">
    <h2 class="main-h2">
        @if (isHomePage) {
        {{ homeTitle }}
        } @else {
        Explore Our Products }
    </h2>
    @if(!isHomePage){
    <div class="relative w-1/2 mx-auto mb-5">
        <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
            <i class="fas fa-search text-main"></i>
        </span>
        <input [(ngModel)]="searchTerm" type="text" 
        class="w-full p-2.5 pl-10 rounded-2xl text-sm font-semibold
            bg-gray-50 border-2 border-gray-400 text-gray-700 
            focus:outline-none focus:ring-main focus:border-main"
            placeholder="What are you looking for today?..." />
    </div>

    }
    <div class="container mx-auto">
        <div class="grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 gap-5 max-w-screen-xl mx-auto">

            @if (isHomePage) {
            @for (product of allProducts.slice(sliceStart, sliceEnd); track product._id) {
            <app-product-card [product]="product" (addToCart)="addProductToCart($event)" />
            }
            } @else {
            @for (product of allProducts |search:searchTerm | paginate: { id: 'productsPaginator',
            itemsPerPage: pageSize,
            currentPage:
            currentPage, totalItems: total }; track product._id) {
            <app-product-card [product]="product" (addToCart)="addProductToCart($event)" />
            }
            }

            @if (!allProducts.length) {
            <h2 class="text-main text-5xl col-span-12 text-center my-6 uppercase font-bold">
                Loading <i class="fa-solid fa-spinner"></i>
            </h2>
            }
        </div>

        @if (!isHomePage) {
        <div class="mt-7 pagination-spreads">
            <pagination-controls id="productsPaginator" (pageChange)="pageChanged($event)"
                (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]="true"
                [responsive]="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
        }
    </div>
</section>