<div class="grid grid-cols-12 gap-5 my-5 border-b border-gray-300 py-3">

    <div class="col-span-1">
        <img [src]="product.product.imageCover" class="w-full" alt="product image">
    </div>
    <div class="col-span-11 flex justify-between">
        <div>
            <h4 class="font-bold">{{product.product.title}}</h4>
            <span class="text-main font-bold block my-3">
                Price : {{ product.price * product.count | number:'1.0-2' }}
            </span>
            <button (click)="onRemove()" class="cursor-pointer"> <i class="fa fa-trash-can text-main"></i>
                Remove</button>
        </div>
        <div class="flex items-center gap-2">
            <button (click)="onUpdateQty(product.count+1)"
                class="w-9 h-9 flex items-center justify-center border-2 border-main rounded hover:bg-main hover:text-white cursor-pointer transition duration-300">
                +
            </button>
            <span class="text-lg font-bold w-6 text-center">{{ product.count }}</span>
            <button (click)="onUpdateQty(product.count-1)"
                class="w-9 h-9 flex items-center justify-center border-2 border-main rounded hover:bg-main hover:text-white cursor-pointer transition duration-300">
                -
            </button>
        </div>
    </div>
</div>