<footer class="bg-gray-200 pt-10">
    <div class="w-11/12 mx-auto">
        <h2 class="m-0 text-2xl uppercase ">Get your discount and subscribe to newsletter</h2>
        <p class="text-gray-500 text-sm">
            Stay up to date and secure a one-time 10% discount on your next order.
        </p>

        <div class="flex items-center gap-3 text-nowrap pt-2">
            <input type="email" class="w-full py-2 border-b border-black" placeholder="  Enter Your Email:" />
            <a href="https://www.youtube.com/shorts/U66P-uMB3lI" target="_blank">
                <button class="rounded-lg bg-main py-2 px-3 text-white hover:bg-main/70 cursor-pointer">
                    Subscribe Now</button>
            </a>
            <!-- <button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" class="rounded-lg bg-main py-2 px-3 text-white hover:bg-main/70 cursor-pointer">
                    Subscribe Now</button> -->
        </div>

        <div class="pay-details md:flex justify-between items-center my-4">
            <div class="flex items-center gap-2">
                <h3 class="text-sm m-0">Payment Partners</h3>
                <img src="/images/stripe.png" width="50px" alt="Stripe Logo" />
                <img src="/images/mastercard.webp" width="50px" alt="MasterCard Logo" />
                <img src="/images/visa.png" width="50px" alt="Visa Logo" />
            </div>

            <div class="flex items-center gap-2">
                <h3 class="h-6 m-0">FreshCart Now Available On</h3>
                <img src="/images/get-google-play.png" width="100px" alt="Google-Play Logo" class="cursor-pointer" />
                <img src="/images/get-apple-store.png" width="100px" alt="Apple-Store Logo" class="cursor-pointer" />
            </div>
        </div>
    </div>

    <div class="text-center bg-green-800 text-white mt-10">
        <p class="p-6">Copyright 2025 © By Ziad, Mohsen, Abdullah and Abo-Saood</p>
    </div>
</footer>