<img class="w-full block" src="/images/CIB.avif" alt="CIB-Bank-Banner">
<app-main-slider />
<app-category-slider />

<app-product-list
    [isHomePage]="true"
    [allProducts]="allProducts"
    [sliceStart]="23"
    [sliceEnd]="33"
    homeTitle="Men's Fashion Picks">
</app-product-list>

<app-product-list
    [isHomePage]="true"
    [allProducts]="allProducts"
    [sliceStart]="0"
    [sliceEnd]="10"
    homeTitle="Women's Fashion Picks">
</app-product-list>

<app-product-list
    [isHomePage]="true"
    [allProducts]="allProducts"
    [sliceStart]="33"
    [sliceEnd]="38"
    homeTitle="Electronics Picks">
</app-product-list>

<img src="/images/brands Banner.avif" alt="Brands-Logo">
<app-brands-slider />